@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'LXGW';
	font-style: normal;
	src: url('/fonts/LXGW.woff2') format('woff2') 
}