---js
const eleventyNavigation = {
	key: "主页",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>最新的 {{ latestPostsCount }} 篇博客</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>更多的 {{ morePosts }} 篇博客{% if morePosts != 1 %}们{% endif %}请在<a href="blog.njk">这里寻找</a> (・∀・)</p>
{% endif %}